/* wrapper um div#game mit benötigter Größe (80vw/h und 1080maxpx), dann #game mit 100% width*/

div#game {
    
    max-width: 1080px;
    width : 100vw ;
    height: 100vh ;
    margin: auto ;
    
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    -webkit-perspective: 1200px;
            perspective: 1200px;
    
}

div.score {
    
    position: fixed;
    top     :  50px;
    left    :  25px;
    padding :  10px;
    padding-left   : 30px;
    padding-right  : 30px;
    background:#888;
    transition: background 999ms linear;
    color   :  #fff;
    font-size: 300%;
    font-family: Arial;
    z-index :  10  ;
    border-radius  : 20%; 
    
}

div.score#score_2 {
    left: calc(100% - 115px);
}

div.card {
     
    z-index: -1  ;
    float  : left;
    
    background:  #5cf;
    background-size:0px;
    background-position: center;
    background-repeat  : no-repeat;
    transition: 000ms background-size  ease 000ms,
                000ms background-color ease 000ms,
                500ms transform        ease   0ms,
                200ms box-shadow       ease   0ms;
    box-shadow: 0 0 6px 1px #f9c;
    /*backface-visibility: hidden;*/
}

div.card:hover {
    box-shadow: 0 0 12px 4px #f9c;
    z-index: 1000;
}

div.card.turned:hover {
    box-shadow: 0 0 12px 4px #5cf;
}

div.card.turned {
    background: #f9c;
    transform : rotate3d(1,0,0,180deg);
    box-shadow: 0 0 6px 1px #5cf;
}

div.card.true {
    background: #2CCD3A;
}

div.card.false {
    background: rgba(232,17,35 ,1);
}

div.card.turned,
div.card.true  ,
div.card.false {
    background-position: center;
    background-repeat  : no-repeat;
    background-size    : 75%;
}


/* CARD SIZES */ 

div.card {
    
    width :  15vw;
    height:  15vw;
    margin:   1vw;
    
}

/* Prozentangaben, -> größere Displays, kleinere Prozente */

@media( max-width:480px ){
    
    div.card {
        width :  40vw;
        height:  40vw;
        margin:   2vw;
    }
    
    div#game {
        width : 100vw;
        height: 100vh;
    }
    
}